<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hua">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.HuaApplication"
        android:allowBackup="true"
        android:icon="@drawable/xin"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1.RecyclerView 下拉刷新上拉加载 -->
        <activity
            android:name=".feature.recyclerview.activity.RecyclerViewActivity"
            android:theme="@style/NoActionBar" />

        <!-- 2.ImageView -->
        <activity
            android:name=".feature.imageview.activity.ImageViewActivity"
            android:theme="@style/NoActionBar" />

        <!-- 3.自定义view -->
        <activity
            android:name=".feature.customview.activity.CustomViewActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".feature.customview.activity.RabbitActivity" />
        <activity
            android:name=".feature.customview.activity.ParallaxEffectsActivity"
            android:theme="@style/NoActionBar" />

        <!-- 4.音乐播放器 -->
        <activity android:name=".feature.player.activity.MusicPlayerActivity" />

        <service android:name=".feature.player.player.PlaybackService">
            <intent-filter>
                <action android:name="com.demo.ACTION.PLAY_TOGGLE" />
                <action android:name="com.demo.ACTION.PLAY_NEXT" />
                <action android:name="com.demo.ACTION.PLAY_LAST" />
                <action android:name="com.demo.ACTION.STOP_SERVICE" />
            </intent-filter>
        </service>

        <!-- 5.RxJava架构思想小demo -->
        <activity android:name=".feature.rxjava.RxJavaDemoActivity" />

        <!-- 6.Activity启动模式 -->
        <activity android:name=".feature.launchmode.activity.LaunchModeActivity" />
        <activity android:name=".feature.launchmode.activity.FirstActivity" />
        <activity
            android:name=".feature.launchmode.activity.SecondActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".feature.launchmode.activity.ThirdActivity" />
        <activity android:name=".feature.customview.activity.RecentReadActivity" />
        <activity android:name=".feature.recyclerview.activity.RecyclerExpandableActivity" />
        <activity android:name=".feature.recyclerview.activity.SectionRecyclerViewActivity" />
        <activity android:name=".feature.showgif.activity.ShowGifActivity" />
        <activity android:name=".feature.assets.activity.AssetsDemoActivity" />
        <activity android:name=".feature.sharedpreferences.activity.SharedPreferencesActivity" />
        <activity android:name=".feature.proguard.activity.ProguardActivity" />
        <activity android:name=".demos.DemosActivity" />

        <!-- 以下是Android 从入门到精通 demo -->
        <activity android:name=".demos.activity.ExerciseDemoActivity" />
        <activity android:name=".demos.activity.ExerciseDemo3_2Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_4Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_6Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_14Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_17Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_18Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_21Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_22Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_23Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_24Activity" />
        <activity android:name=".demos.activity.ExerciseDemo3_25Activity" />


        <!-- 以下为Demos -->
        <activity
            android:name=".demos.views.TextViewActivity"
            android:label="@string/views_textview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.views.ButtonActivity"
            android:label="@string/views_button">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.views.DialogActivity"
            android:label="@string/views_custom_dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.views.WebViewActivity"
            android:label="@string/views_webview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.dependencies.xutils.XUtilsActivity"
            android:label="@string/dependencies_xutils">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.dependencies.butterknifer.ButerkniferActivity"
            android:label="@string/dependencies_butterknifer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <!-- 动态改变主题颜色 -->
        <activity
            android:name=".demos.dependencies.magica.MagicaSakuraActivity"
            android:label="@string/dependencies_magica_sakura"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.views.WebViewActivity2"
            android:label="@string/views_webview2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.views.ExpandableListViewActivity"
            android:label="@string/views_listView_expandableListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demos.dependencies.xutils.XUtilsDownloadActivity"
            android:label="@string/dependencies_xutils_download">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".demos.dependencies.xutils.DownloadActivity" />
        <activity
            android:name=".demos.feature.openfile.OpenFileActivity"
            android:label="@string/feature_openfile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hua.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".demos.views.WebViewActivity3" android:label="@string/views_webview3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MY_SAMPLE_CODE" />
            </intent-filter>
        </activity>





    </application>

</manifest>