<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hua.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.HuaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 1.RecyclerView 下拉刷新上拉加载 -->
        <activity
            android:name=".feature.recyclerview.activity.RecyclerViewActivity"
            android:theme="@style/NoActionBar" />

        <!-- 2.ImageView -->
        <activity
            android:name=".feature.imageview.activity.ImageViewActivity"
            android:theme="@style/NoActionBar" />

        <!-- 3.自定义view -->
        <activity
            android:name=".feature.customview.activity.CustomViewActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".feature.customview.activity.RabbitActivity" />
        <activity
            android:name=".feature.customview.activity.ParallaxEffectsActivity"
            android:theme="@style/NoActionBar" />

        <!-- 4.音乐播放器 -->
        <activity android:name=".feature.player.activity.MusicPlayerActivity" />

        <service android:name=".feature.player.player.PlaybackService">
            <intent-filter>
                <action android:name="hua.demo.ACTION.PLAY_TOGGLE" />
                <action android:name="hua.demo.ACTION.PLAY_NEXT" />
                <action android:name="hua.demo.ACTION.PLAY_LAST" />
                <action android:name="hua.demo.ACTION.STOP_SERVICE" />
            </intent-filter>
        </service>

        <!-- 5.RxJava架构思想小demo -->
        <activity android:name=".feature.rxjava.RxJavaDemoActivity" />

        <!-- 6.Activity启动模式 -->
        <activity android:name=".feature.launchmode.activity.LaunchModeActivity" />
        <activity android:name=".feature.launchmode.activity.FirstActivity" />
        <activity
            android:name=".feature.launchmode.activity.SecondActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".feature.launchmode.activity.ThirdActivity" />
        <activity android:name=".feature.customview.activity.RecentReadActivity" />
        <activity android:name=".feature.recyclerview.activity.RecyclerExpandableActivity" />
        <activity android:name=".feature.recyclerview.activity.SectionRecyclerViewActivity" />
        <activity android:name=".feature.showgif.activity.ShowGifActivity" />
        <activity android:name=".feature.assets.activity.AssetsDemoActivity"></activity>
    </application>

</manifest>